html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
canvas {
  display: block;
  width: 100vw !important;
  height: 100vh !important;
  margin: 0;
  padding: 0;
  border: none;
}
